#logo{
    width: 200px;
    height: auto;
    position: absolute;
    left: 10px; bottom: 10px;
    
}

.contenitore{
    margin-left: 10px;
    
    
}

header{
    background-image: url(img/pattern.png);
    background-color: deepskyblue;
    height: 100px;
    width: 100%;
    position: relative;
}

table{
    width: 100%;
}

th{
    text-align: left;
}

#sfondo1{
    background-image: url(img/monitor.jpg);
}
#sfondo2{
    background-image: url(img/graph.jpg);
}
.suggerimento{
    width: 300px;
    height: 250px;
}
th{
    width: 32px;
}
.intestazione_tab{
    background-color: dodgerblue;
}
.riga_tab{
    background-color: rgba(87,238,255,0.5);
}





