#logo{
    width: 200px;
    height: auto;
    position: absolute;
    left: 10px; bottom: 10px;
    
}

.contenitore{
    margin-left: 10px;
    
    
}

header{
    background-image: url(img/pattern.png);
    background-color: deepskyblue;
    height: 100px;
    width: 100%;
    position: relative;
}

table{
    width: 100%;
}

th{
    text-align: left;
}

